/*=========================================
*            global attributes            *
=========================================*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #444;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  color: #dfdfdf;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* Background Image Styling */

.home {
  font-family: "Roboto", sans-serif;
  background-color: rgb(116, 115, 115);
  color: white;
  position: absolute;
  top: 20px;
  left: 50px;
  display: block;
}

/* Background Image Styling */

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #d2d0d0;
}

.banner {
  background: url("https://images.pexels.com/photos/3184195/pexels-photo-3184195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  display: block;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 7%;
  margin-bottom: 4%;
}

.tile {
  font-family: "PT Sans", sans-serif;
}

.checkbox {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-top: 10px;
}

.is-child {
  background: rgba(220, 220, 220, 0.4);
}

.is-parent {
  margin-left: 30px;
  margin-right: 30px;
}

.control {
  margin-bottom: 2%;
}

.history {
  margin-top: 30%;
}

.search {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  background-color: rgb(116, 115, 115);
  color: white;
}
