body {
  background: url(Assets/Images/jason-briscoe-VfKK1PPoIBA-unsplash.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #b5b5b5;
}
